# Database
*.db

# Generated audio
static/audio/

# Virtual environments
venv/
myenv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# VS Code
.vscode/
# Pytest
.coverage
.pytest_cache/
coverage.xml
htmlcov/